
body{
    position:relative;
}

.feature-color{
    color:#FFA409;
}
/*add by bingbing*/
.container{
    max-width: 1440px;
}
/**/
#main-container{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    width:98%;
    height:1900px;
    background-color: #F8F8F8;
}

#header{
    position: fixed;
    height:100px;
    width:100%;
    z-index:10;
    top:13px;
    text-align: center;
    -webkit-transition-property: top,background-color;
    -moz-transition-property: top,background-color;
    -ms-transition-property: top,background-color;
    -o-transition-property: top,background-color;
    transition-property: top,background-color;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#search-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 15;
    background-color: white;
    opacity: 0;
    visibility: hidden;

    -webkit-transition-property: visibility,opacity;
    -moz-transition-property: visibility,opacity;
    -ms-transition-property: visibility,opacity;
    -o-transition-property: visibility,opacity;
    transition-property: visibility,opacity;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;

    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.search-close {
    text-align: right;
    padding-top: 44px;
    padding-right: 3%;
    font-size: larger;
    color: lightgray;
}

.search-close:hover{
    color: #000;
    cursor: default;
}

#search-container{
    position: fixed;
    width: 100%;
}

#search-title{
    width: 100%;
    text-align: center;
    margin-top: 200px;
    font-size: 2em;
    margin-bottom: 30px;
    font-family: 'Wire One';
    font-weight: bolder;
    letter-spacing: 15px;

}

#search-text{
    width: 100%;
    text-align: center;
    font-size: 5em;
    font-weight: 100;
}

#search-input{
    border: none;
    font-size: 1em;
    font-family:'Wire One';
    font-weight: 200;
    outline: none;
    margin-left:30px;
    min-width:50px;
}
.fixed-header{
    top:-13px !important;
    background-color: white;
}

#logo{
   margin-top:25px;
}

#logo img{
    height:60px;
}
.header-item{
    display:inline-block;
}
i.header-item{
    margin-top: -3px;
}
.header-text{
    font-family: 'Patua One', cursive;
    font-weight: bolder;
    font-size: 1em;
}

.header-item-right{
    position:relative;
    float: right;
    top:50px;
    /*right:120px;*/
}

.header-item-left{
    float:left;
    position:relative;
    /*left:100px;*/
    top:50px;
}

.header-icon{
    top:56px;
}

.header-search-icon:hover{
    font-size:1.5em;
    color:lightgray;
}
/*zmm changing make the image not overflow*/
#main-banner{
    overflow: hidden;
}

#main-banner-title-container{
    text-align: center;
    position: relative;
    /*top:30px;*/
    padding-top: 100px;
}

#main-banner-title-wrapper{
    display: inline-block;
    max-width:900px;
    margin-top:45px;
    margin-bottom:20px;
}

#main-banner-title{
    font-size: 4em;
}

#main-banner-description{
    width: 80%;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}

#main-banner-links{
    color:#FFA409;
    margin-top:20px;
}

.margin-bar{
    margin-right:25px;
    margin-left:25px;
    color: #FFA409;
}

#main-banner-links a{
    text-decoration: none;
    font-size: large;
    color: #FFA409;
}

#main-banner-image{
    height:600px;
    position: relative;
    top:30px;
    background-image: url("main-banner2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 99%;
}

#main-banner-next-arrow{
    color: #FFA409;
    position: absolute;
    right: 60px;
    bottom:60px;
    font-size:2em ;
    -webkit-transition-property: font-size;
    -moz-transition-property: font-size;
    -ms-transition-property: font-size;
    -o-transition-property: font-size;
    transition-property: font-size;
   
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    
}

#main-banner-next-arrow:hover{
    font-size:3em;
}
/*zmm's EventCards css*/
/*#EventCards{*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*text-align: center;*/
    /*!*background-color: green;*!*/
    /*width:1293px;*/
    /*height: 800px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 0px;*/
    /*background-position: center;*/
/*}*/
/*#RowCards-container{*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*text-align: center;*/
    /*!*background-color: red;*!*/
    /*width:1250px;*/
    /*height: 320px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 20px;*/
    /*background-position: center;*/

/*}*/
/*#RowCenter{*/
    /*!*background-color:#048;*!*/
    /*width:1200px;*/
    /*height: 300px;*/
    /*text-align: center;*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*margin: 0 auto;*/
    /*margin-top: 10px;*/
/*}*/
/*.EventCard{*/
    /*position: relative;*/
    /*!* background-color: yellow; *!*/
    /*width: 400px;*/
    /*height: 300px;*/
    /*margin: auto 0;*/
    /*float: left;*/
    /*padding-left: 3px;*/
    /*padding-right: 3px;*/
/*}*/
/*#EventName1{*/
    /*overflow: hidden;*/
    /*background-image:url("makalong.png");*/
    /*text-align: center;*/
/*}*/

/*.EventImg{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*add by bingbing*/

.card{
    /*width: 90%;*/
    /* right: 0; */
    /* right: 59px; */
    /*left: 5%;
    top: 2%;*/
    padding-bottom: 60%;
    border: 10px solid #fff;
    background-image: url("/lameloie.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 50%;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.grow:hover{
    background-size: 120%;
}

.blur:hover{
    -webkit-filter: blur(10px);
}


.hidden-card-description {
  display:none;
  position:absolute;
    top: 30px;
    left:30px;
    right:30px;
}

/*
.hidden-card-description:hover div{
    visibility: visible;
}
*/


.card-brief{
    width: 100%;
   /* left: 5%;
    bottom: 13%;*/
    display: table;
    margin-top: 7px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card-brief-item{
    width:40%;
    display: table-cell;

}
.item-right{
    width:40%;
    display: table-cell;
    text-align: right;
}

.card-holder{
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}
/*
.card-row {
    display: table;
    width: 99%;
    margin: auto;
}*/

.card-center{

}

@media only screen and (min-width: 1px) {
    ul.container{
        width:97%;
    }

}


