html{
    height: 100%;
}

body{
    position:relative;
    min-height: 100%;
}

.feature-color{
    color:#FFA409;
}
/*add by bingbing*/
.container{
    max-width: 1440px;
}
/**/
#main-container-wrapper {
    position: relative;
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    /*margin-top:20px;*/
    /*margin-bottom: 20px;*/
    margin: 20px auto;
    width:98%;
    /*height:1900px;*/
    min-height: 875px;
    background-color: #F8F8F8;
}

#main-container{
    padding-top:100px;
    padding-bottom: 100px;
}

#header{
    position: fixed;
    height:86px;
    width:100%;
    z-index:10;
    top:13px;
    text-align: center;
    -webkit-transition-property: top,background-color;
    -moz-transition-property: top,background-color;
    -ms-transition-property: top,background-color;
    -o-transition-property: top,background-color;
    transition-property: top,background-color;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#search-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 15;
    background-color: white;
    opacity: 0;
    visibility: hidden;

    -webkit-transition-property: visibility,opacity;
    -moz-transition-property: visibility,opacity;
    -ms-transition-property: visibility,opacity;
    -o-transition-property: visibility,opacity;
    transition-property: visibility,opacity;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;

    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.search-close {
    text-align: right;
    padding-top: 44px;
    padding-right: 3%;
    font-size: larger;
    color: lightgray;
}

.search-close:hover{
    color: #000;
    cursor: default;
}

#search-container{
    position: fixed;
    width: 100%;
}

#search-title{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    font-size: 2em;
    margin-bottom: 30px;
    font-family: 'Wire One';
    font-weight: bolder;
    letter-spacing: 15px;

}

#search-text{
    width: 100%;
    text-align: center;
    font-size: 5em;
    font-weight: 100;
    margin-bottom:50px;
}

#search-input{
    border: none;
    font-size: 1em;
    font-family:'Wire One';
    font-weight: 200;
    outline: none;
    margin-left:30px;
    min-width:50px;
}
.fixed-header{
    top:-13px !important;
    background-color: white;
}

#logo{
   margin-top:20px;
}

#logo img{
    height:60px;
}
.header-item{
    display:inline-block;
}
i.header-item{
    margin-top: -13px;
}
.header-text{
    font-family: 'Patua One', cursive;
    font-weight: bolder;
    font-size: 1em;
}

.header-item-right{
    position:relative;
    float: right;
    top:40px;
    /*right:120px;*/
}

.header-item-left{
    float:left;
    position:relative;
    /*left:100px;*/
    top:40px;
}

.header-icon{
    top:56px;
}

.header-search-icon:hover{
    font-size:1.5em;
    color:lightgray;
}
/*zmm changing make the image not overflow*/
#main-banner{
    overflow: hidden;

}

#main-banner-title-container{
    text-align: center;
    position: relative;
    /*top:30px;*/
    /*padding-top: 100px;*/
}

#main-banner-title-wrapper{
    display: inline-block;
    max-width:900px;
    margin-top:45px;
    margin-bottom:20px;
}

#main-banner-title{
    font-size: 4em;
}

#main-banner-description{
    width: 80%;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}

#main-banner-links{
    color:#FFA409;
    margin-top:20px;
}

.margin-bar{
    margin-right:25px;
    margin-left:25px;
    color: #FFA409;
}

#main-banner-links a{
    text-decoration: none;
    font-size: large;
    color: #FFA409;
}

#main-banner-image{
    height:600px;
    position: relative;
    top:30px;
    background-image: url("main-banner2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 99%;
}

#main-banner-next-arrow{
    color: #FFA409;
    position: absolute;
    right: 60px;
    bottom:60px;
    font-size:2em ;
    -webkit-transition-property: font-size;
    -moz-transition-property: font-size;
    -ms-transition-property: font-size;
    -o-transition-property: font-size;
    transition-property: font-size;
   
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    
}

#main-banner-next-arrow:hover{
    font-size:3em;
}

.eventContainer{
    margin:20px 0 20px 0;
}

ul.container{
    margin-bottom:0px;
}
/*.eventCard:hover{
    cursor:pointer;
}*/
.card-brief{
    width: 100%;
    display: table;
    margin-top: 7px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card-brief-item{
    width:40%;
    display: table-cell;

}
.item-right{
    width:40%;
    display: table-cell;
    text-align: right;
}

.card-brief-item i{
    font-size:20px;
    cursor: pointer;
}
.card-brief-item i:hover{
    color:#FFA409;
}
.card-brief-item i.fa-heart{
    color:#FFA409;
}


@media only screen and (min-width: 1px) {
    ul.container{
        width:97%;
    }

}

@media only screen and (min-width: 1px) and (max-width: 700px){
    
    #footer-right{
        display:none !important;
    }
    #footer-left{
        width: 100% !important;
    }
}

#footer-container{
    width: 100%;
}

#footer{
    width: 100%;
    height: 60px;
    background-color: rgb(32, 39, 31);
    color: #fff;
    padding-top: 20px;
    margin-top: 30px;
}

#footer-left {
    width: 46%;
    padding-left:4%;
    display: inline-block;
}

#footer-right  {
    width: 46%;
    display: inline-block;
    text-align: right;
}

@media print {
    footer {page-break-after: always;}
}

#image-show-container{
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 300px;
    overflow-x: hidden;
}