#container{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    width:98%;
    height:1900px;
    background-color: #F8F8F8;
}

#header{
    position: fixed;
    height:100px;
    width:100%;
    z-index:10;
    top:13px;

    -webkit-transition-property: top,background-color;
    -moz-transition-property: top,background-color;
    -ms-transition-property: top,background-color;
    -o-transition-property: top,background-color;
    transition-property: top,background-color;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;



}

.fixed-header{
    top:-13px !important;
    background-color: white;
}

#logo{
    position:absolute;
    left:40%;
    top:25px;
}

#logo img{
    height:60px;
}
.header-item{
    display:inline-block;
}

.header-text{
    font-family: 'Patua One', cursive;
    font-weight: bolder;
    font-size: 1em;
}

.header-item-right{
    position:relative;
    float: right;
    top:50px;
    right:100px;
}

.header-item-left{
    float:left;
    position:relative;
    left:100px;
    top:50px;
}

.header-icon{
    top:56px;

}
/*zmm changing make the image not overflow*/
#main-banner{
    overflow: hidden;
}

#main-banner-title-container{
    text-align: center;
    position: relative;
    /*top:30px;*/
    padding-top: 100px;
}

#main-banner-title-wrapper{
    display: inline-block;
    max-width:900px;
    margin-top:45px;
    margin-bottom:20px;
}

#main-banner-title{
    font-size: 4em;
}

#main-banner-description{
    width: 80%;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}

#main-banner-links{
    color:#FFA409;
    margin-top:20px;
}

.margin-bar{
    margin-right:25px;
    margin-left:25px;
    color: #FFA409;
}

#main-banner-links a{
    text-decoration: none;
    font-size: large;
    color: #FFA409;
}

#main-banner-image{
    height:600px;
    position: relative;
    top:30px;
    background-image: url("main-banner2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 99%;
}

#main-banner-next-arrow{
    color: #FFA409;
    position: absolute;
    right: 60px;
    bottom:60px;
    font-size:2em ;
    -webkit-transition-property: font-size;
    -moz-transition-property: font-size;
    -ms-transition-property: font-size;
    -o-transition-property: font-size;
    transition-property: font-size;
   
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    
}

#main-banner-next-arrow:hover{
    font-size:3em;
}
/*zmm's EventCards css*/
#EventCards{
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: green;
    width:1293px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-position: center;
}
#RowCards-container{
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: red;
    width:1250px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-position: center;

}
#RowCenter{
    background-color:#048;
    width:1200px;
    height: 300px;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
}
.EventCard{
    position: relative;
    background-color: yellow;
    width:400px;
    height: 300px;
    margin:auto 0;
    float: left;
}
#EventName1{
    overflow: hidden;
    background-image:url("makalong.png");
    text-align: center;
}

.EventImg{
    width: 100%;
    height: 100%;
} 

/* .inline{
    float: left;
} */
