a {
    text-decoration: none;
    color:#FFA409 ;
}
a:hover{
    text-decoration: none;
    color:black;
}
#myModal{
    padding-top: 200px;
}

.conn-form{
    margin:0px auto;
    padding:40px;
    text-align: center;

}
.conn-form input{
    margin-top:20px;
}

.btn-col{
    width:80%;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing:border-box;
}
.btn-input {
    font-weight: lighter;
    font-size: larger;
    color: #333;
    background-color: #fff;
    border-color: #ccc;

}
.btn-submit{
    background: #d6dce2;
    border-color: #d6dce2;
    color: #6b7781;
    box-shadow: none;

}
.btn-input:hover{
    border-color: #333;
}
.btn-input:focus{
    outline: none;
    border:solid 2px #FFA409;
}


#loginLink{
    display:none;
}
#register-form{
    display:none;
}
.registering #loginLink{
    display:block;
}
.registering #register-form {
    display: block;
}
.registering #login-form
{
    display: none;
}
.registering #registerLink
{
    display: none;
}

.conn-footer{
    background-color: #f5f7f9;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;

}
