/*这里定义了一个可以共用的class的样式，为了保持我们网站style风格的一致性：
a：抹去下划线，颜色是橙色#FFA409
.butt 有浅灰的边框，hover时边框变黑，鼠标键入时边框变橙变粗
.btn-main 橙色的border和background，白色的text
disabled的.butt 灰灰的backgroud，灰灰的text

*/
.col-12{
    width:100%;
}

a:visited{
    text-decoration:none;
}
a:focus{
    color:#FFA409;
    text-decoration:none;
}
a{
    text-decoration:none;
    color:#FFA409 ;
}

a:hover{
    text-decoration:none;
    color:black;
}
#myModal{
    padding-top: 200px;
}

@media (min-width: 400px){
    #conn-dialog{
        width:400px;
        margin: 30px auto;

    }
}

.conn-form{
    margin:0px auto;
    padding-top:40px;
    padding-left:40px;
    padding-right:40px;
    text-align: center;

}
.conn-form input{
    margin-bottom:20px;
}
.conn-form button{
    margin-bottom:20px;
}

.butt{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing:border-box;
}

.btn-main{
    background: #FFA409;
    border-color: #FFA409;
    color: #fff;
    box-shadow: none;
}

.btn-input {
    font-weight: lighter;
    font-size: larger;
    color: #333;
    background-color: #fff;
    border-color: #ccc;

}

.btn-main[disabled]{
    background: #d6dce2;
    border-color: #d6dce2;
    color: #6b7781;
    box-shadow: none;
}
.btn-input:hover{
    outline: none;
    border-color: #333;
}
.btn-input:focus{
    outline: none;
    border:solid 2px #FFA409;
}


#loginLink{
    display:none;
}
#register-form{
    display:none;
}
.registering #loginLink{
    display:block;
}
.registering #register-form {
    display: block;
}
.registering #login-form
{
    display: none;
}
.registering #registerLink
{
    display: none;
}

.conn-footer{
    background-color: #f5f7f9;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;

}
.btn-facebook{
    background: #3B5998;
    color:#FFFFFF;
}
.btn-google{
    background:#C15647 ;
    color:#fff;
}


.view {
    width: 100%;
    padding-bottom: 70%;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff;
}

.view .mask{
    width:100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom:0;
}

.view img {
    border: 10px solid #fff;
    display: block;
    position: absolute;
    width:100%;
    height:100%;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 8% 0 5% 0;
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    margin-right:5%;
    margin-left:5%;
    text-align: center
}
.view .card-foot {
    position: absolute;
    display:block;
    bottom:-10px;
    padding:10px;
    color: #fff;
    background:rgba(130, 130, 130, 0.46);
    font-weight: lighter;
    font-style: italic;
    width:100%;
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img {
    transition: all 0.2s linear;

}
.view-first .mask {
    opacity: 0;
    background-color: rgba(255, 164, 9, 0.6);
    transition: all 0.4s ease-in-out;
}

.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px) rotate(90deg);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first .card-foot{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first:hover img {
    transform: scale(1.1);
}
.view-first:hover .mask {
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover .card-foot{
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.2s;
}
.view-first:hover .card-foot{
    transition-delay: 0.5s;
}


.menuContainer{
    position:relative;
    text-align: center;
    width:70%;
    margin:20px auto;
    padding:40px;
    -webkit-box-shadow: 0 50px 80px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 50px 80px 0 rgba(0,0,0,.2);
    box-shadow: 0 20px 80px 0 rgba(0,0,0,.2);
}


.menuTitle{
    color: #FFCA28;
    font-size:40px;
    text-transform: uppercase;
    margin-bottom:10px;
    font-family: "Permanent Marker";
}

.menuContainer section header{
    font-family: 'Tangerine',serif;
    font-size:48px;
}
/*.menuContainer:hover{
    transform:rotateZ(180deg);
    -webkit-transform:rotate(180deg);
}*/
.animation-element {
    opacity: 0;
    position: relative;
}
.dishContainer h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: cursive;
    color: darkgreen;
}
.dishContainer p{
    font-family: fantasy;
    font-size: 18px;
}

.albumContainer{
    text-align: center;
    margin-top:50px;
    margin-bottom: 50px;
}


.animation-element.slide-left {
    opacity: 0;
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    -moz-transform: translate3d(-300px, 0px, 0px);
    -webkit-transform: translate3d(-300px, 0px, 0px);
    -o-transform: translate(-300px, 0px);
    -ms-transform: translate(-300px, 0px);
    transform: translate3d(-300px, 0px, 0px);
}
.animation-element.slide-left.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
.animation-element.slide-right {
    opacity: 0;
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    -moz-transform: translate3d(300px, 0px, 0px);
    -webkit-transform: translate3d(300px, 0px, 0px);
    -o-transform: translate(300px, 0px);
    -ms-transform: translate(300px, 0px);
    transform: translate3d(300px, 0px, 0px);
}
.animation-element.slide-right.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
.animation-element.slide-bottom {
    opacity: 0;
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    -moz-transform: translate3d(0px, 100px, 0px);
    -webkit-transform: translate3d(0px, 100px, 0px);
    -o-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate3d(0px, 100px, 0px);
}
.animation-element.slide-bottom.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}


#profileCard {
    width: 100%;
    padding-bottom: 75%;
    position: relative;
    border-style: dashed;
    border-color:burlywood;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
}
.profileContainer{
    width:70%;
    padding:20px;
    box-shadow: 0 20px 80px 0 rgba(0,0,0,.2);
    /*-webkit-perspective: 800px;
    -webkit-transition:-webkit-transform .6s;
    transition:transform .6s;*/
}

.profileContainer div{
    padding-top: 10px;
}
.profilePhoto img{
    width:100%
}
.hostDesp{
    font-family: 'Patua One', cursive;
}
.details-title {
    font-weight: normal;
    font-size: 22px;
    line-height: 1.4;
}

.details-intro {
    color: #63666b;
    line-height: 1.4;
}
.theme-btn{
    padding:13px 16px;
    text-align: center;
    background-color: #F9F9F9;
    height: 46px;
    font-size: 13px;
    border: solid 1px #ccc;
    margin-bottom: 10px;
    width:100%;
}

.submit-btn{
    padding:10px 16px;
    text-align: center;
    background-color: #FFA409;
    color:#fff;
    height: 46px;
    font-size: 19px;
    border: solid 1px #FFA409;
    margin-bottom: 10px;
    width:100%;
}
.detail-content{
    margin-left: -15px;
}