/*这里定义了一个可以共用的class的样式，为了保持我们网站style风格的一致性：
a：抹去下划线，颜色是橙色#FFA409
.butt 有浅灰的边框，hover时边框变黑，鼠标键入时边框变橙变粗
.btn-main 橙色的border和background，白色的text
disabled的.butt 灰灰的backgroud，灰灰的text

*/
.col-12{
    width:100%;
}

a:visited{
    text-decoration:none;
}
a{
    text-decoration:none;
    color:#FFA409 ;
}

a:hover{
    text-decoration:none;
    color:black;
}
#myModal{
    padding-top: 200px;
}
.login-SM{
    margin-top:40px;
    margin-left: 40px;
    margin-right:40px;
}
@media (min-width: 400px){
    #conn-dialog{
        width:400px;
        margin: 30px auto;

    }
}

.conn-form{
    margin:0px auto;
    padding:40px;
    text-align: center;

}
.conn-form input{
    margin-bottom:20px;
}

.butt{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing:border-box;
}

.btn-main{
    background: #FFA409;
    border-color: #FFA409;
    color: #fff;
    box-shadow: none;
}

.btn-input {
    font-weight: lighter;
    font-size: larger;
    color: #333;
    background-color: #fff;
    border-color: #ccc;

}

.btn-main[disabled]{
    background: #d6dce2;
    border-color: #d6dce2;
    color: #6b7781;
    box-shadow: none;
}
.btn-input:hover{
    outline: none;
    border-color: #333;
}
.btn-input:focus{
    outline: none;
    border:solid 2px #FFA409;
}


#loginLink{
    display:none;
}
#register-form{
    display:none;
}
.registering #loginLink{
    display:block;
}
.registering #register-form {
    display: block;
}
.registering #login-form
{
    display: none;
}
.registering #registerLink
{
    display: none;
}

.conn-footer{
    background-color: #f5f7f9;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;

}

