/*这里定义了一个可以共用的class的样式，为了保持我们网站style风格的一致性：
a：抹去下划线，颜色是橙色#FFA409
.butt 有浅灰的边框，hover时边框变黑，鼠标键入时边框变橙变粗
.btn-main 橙色的border和background，白色的text
disabled的.butt 灰灰的backgroud，灰灰的text

*/
.col-12{
    width:100%;
}

a:visited{
    text-decoration:none;
}
a{
    text-decoration:none;
    color:#FFA409 ;
}

a:hover{
    text-decoration:none;
    color:black;
}
#myModal{
    padding-top: 200px;
}

@media (min-width: 400px){
    #conn-dialog{
        width:400px;
        margin: 30px auto;

    }
}

.conn-form{
    margin:0px auto;
    padding-top:40px;
    padding-left:40px;
    padding-right:40px;
    text-align: center;

}
.conn-form input{
    margin-bottom:20px;
}
.conn-form button{
    margin-bottom:20px;
}

.butt{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing:border-box;
}

.btn-main{
    background: #FFA409;
    border-color: #FFA409;
    color: #fff;
    box-shadow: none;
}

.btn-input {
    font-weight: lighter;
    font-size: larger;
    color: #333;
    background-color: #fff;
    border-color: #ccc;

}

.btn-main[disabled]{
    background: #d6dce2;
    border-color: #d6dce2;
    color: #6b7781;
    box-shadow: none;
}
.btn-input:hover{
    outline: none;
    border-color: #333;
}
.btn-input:focus{
    outline: none;
    border:solid 2px #FFA409;
}


#loginLink{
    display:none;
}
#register-form{
    display:none;
}
.registering #loginLink{
    display:block;
}
.registering #register-form {
    display: block;
}
.registering #login-form
{
    display: none;
}
.registering #registerLink
{
    display: none;
}

.conn-footer{
    background-color: #f5f7f9;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;

}
.btn-facebook{
    background: #3B5998;
    color:#FFFFFF;
}
.btn-google{
    background:#C15647 ;
    color:#fff;
}


.view {
    /*width: 300px;
    height: 200px;
    margin: 10px;*/
    float: left;

    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff;
}

.view .mask{
    /*width: 300px;
    height: 200px;*/
    width:100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom:0;
}

.view img {
    border: 10px solid #fff;
    display: block;
    position: relative;
    width:100%;
    /*height: 200px;*/
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img {
    transition: all 0.2s linear;

}
.view-first .mask {
    opacity: 0;
    background-color: rgba(219,127,8, 0.7);
    transition: all 0.4s ease-in-out;
}

.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first:hover img {
    transform: scale(1.1);
}
.view-first:hover .mask {
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
